*{
  margin: auto;
  padding: auto;
}

#topfill{
  height: 5vh;
}

#logo{
  width: 14%;
  height: 120px;
  background-image: url(../img/logo2.png);
  background-size: cover;
  margin: auto;
  filter: drop-shadow(5px 5px 5px #222);
}

.navbar {
  z-index:1;
  overflow:visible;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 10vh;
  border: black solid 2px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  margin-left: 15%;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  height: 500px;
}

#tokyopic{
    height: 110%;
    width: 100%;
}

#osakapic{
  height: 110%;
  width: 100%;
}

#kyotopic{
height: 110%;
width: 100%;
}

#backpage{
  background-color: cornsilk;
  width: 100%;
  height: 200vh;
}





/* Container holding the image and the text */
.container {
  text-align: center;
  color: black;
  font-size: 300%;
  font-family:sans-serif;
}


/* Centered text */
.centered1 {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered2 {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 55%;
  color: white;
}

.centered3 {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 130%;

}

.para {
  position:absolute;
  font-size: 40%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  border: black solid 2px;
  padding: 5vh;
}

#p2{
  margin-top: 55%;
}

#p3{
  margin-top: 125%;
}